.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    cursor: pointer;
    margin: 0px 40px;
}
.cartitems-quantity{
    width: 62px;
    height: 50px;
    background: #fff;
    border: 2px solid #ebebeb;
    font-weight: 600;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
}
.cartitems-total button{
    width: 262px;
    height: 60px;
    border: none;
    outline: none;
    background: #ff5a5a;
     color: white;
     cursor: pointer;
     font-size: 16px;
     font-weight: 600;
}
.cartitems-promocode{
    font-size: 15px;
    font-weight: 500;
    flex: 1;

}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    height: 60px;
    margin-top: 15px;
    padding-left: 20px;
    background: #eaeaea;

}
.cartitems-promobox input{
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 60px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}